.category{
    background-color: rgba(246, 240, 240, 0.808);
    padding: 1px;
    height: auto;
}
.category h1{
    margin-top: 25px;
    text-align: center;
}

.category > div {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 20px;
}